.hyperlink {
  color: var(--color-white);
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 1rem 0.9rem 0.7rem 0.9rem;
  transition: border 0.255s ease-in-out;
}

.hyperlink[islink="underline"] {
  border-bottom: 0.3rem solid var(--color-blue);
}

.hyperlink[islink="underline"]:hover {
  border-bottom: 0.3rem solid var(--color-turquoise);
}

.hyperlink[islink="underline"]:focus {
  border-bottom: 0.3rem solid var(--color-turquoise);
}
